.app-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-size: 3rem;
  
  h1 {
    background-image: linear-gradient(202deg, #fff, #6130cc 53%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }

  p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
